@font-face {
  font-family: 'ManropeRegular';
  src: local('ManropeRegular'),
    url('./fonts/Manrope-Regular.ttf') format(truetype);
  font-weight: normal;
}

@font-face {
  font-family: 'ManropeMedium';
  src: local('ManropeMedium'),
    url('./fonts/Manrope-Medium.ttf') format(truetype);
  font-weight: medium;
}

@font-face {
  font-family: 'ManropeSemiBold';
  src: local('ManropeSemiBold'),
    url('./fonts/Manrope-SemiBold.ttf') format(truetype);
  font-weight: 500;
}
@font-face {
  font-family: 'ManropeBold';
  src: local('ManropeBold'), url('./fonts/Manrope-Bold.ttf') format(truetype);
  font-weight: bold;
}

body {
  margin: 0;
  font-family: ManropeRegular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
